{% extends "layout.html" %}
{% block content %}
	<div class="media content">
		<div class="media-body">
			<h4 class="media-heading mb-4">What is this?</h4>
			<p>Most lifting programs record progress through the amount of weighted lifted each session.</p>
			<p>This makes it difficult to keep track of one's aesthetic goals in a quantifiable manner.</p>
			<p>Acquire Aesthetics is a site that makes it easy for lifters to document their aesthetic progress through body measurements.</p>
			<p>Sound good?</p>
			<h5><a href="{{ url_for('users.register') }}">Register!</a></h5>
		</div>
	</div>
{% endblock content %}