{% extends "layout.html" %}
{% block content %}
	<div class="media content">
		<div class="media-body">
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<div class="form-group">
					{% if form.title.errors %}
						{{ form.title(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.title(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group">
					{% if form.content.errors %}
						{{ form.content(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.content.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.content(class="form-control", rows="10") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-default btn-block") }}
				</div>
			</form>
		</div>
	</div>
{% endblock content %}