{% extends "layout.html" %}
{% block content %}
	<div class="form-box">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{% if form.username.errors %}
					{{ form.username(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.username.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.username(class="form-control") }}
				{% endif %}
			</div>
			<div class="form-group">
				{% if form.password.errors %}
					{{ form.password(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-control") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-default btn-block") }}
			</div>
		</form>
	</div>
{% endblock content %}