body {
	font-family: Verdana;
	background-color: #CFE0E5;
}

a, a:hover {
	text-decoration: none;
}

.header {
	background-color: white;
	padding: 10px;
	overflow: hidden;
}

.header a {
	color: red;
	font-size: 1em;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	line-height: 80px;
}

.header a:hover {
	color: tomato;
}

.header-right {
	float: right;
}

.header a.logo {
	font-size: 1.5em;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 5px;
	word-spacing: 10px;
}
.header a.logo:hover {
	background-color: #f1f1f1;
}

@media screen and (max-width: 800px) {
	.header a {
		display: block;
		line-height: 30px;
		text-align: left;
	}
	.header-right {
		float: none;
	}
	.header a:hover {
		background-color: #f1f1f1;
	}
}

.navbar {
	margin: 0;
	padding: 0;
}

.navbar ul {
	list-style-type: none;
	background-color: #444d58;
	line-height: 60px;
	width: 100%;
	display: block;
}

.navbar li {
	display: inline-block;
}

.navbar li a {
	color: white;
	padding: 15px;
	text-align: center;
}

.navbar li a:hover {
	background-color: #8b939f;
}

.content {
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	margin: 40px;
}

.content h4 {
	font-weight: bold;
	color: 282828;
}

.content h4:hover {
	color: #566573;
	text-decoration: none;
}